{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propscan</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h2>Log In</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register Broker</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Username:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Rera registered:</label>
                        <div class="col-md-6">
                            <input name="check" value="" type="checkbox" />
                            <input name="username" value="" type="text" class="form-control" />

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">license type:</label>
                        <div class="col-md-6">

                            <select  class="form-control">
                                <option>test</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Company name:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Company url:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Company address 1:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Company address 2:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Description:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Company address 2:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Additional phone 1:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="number" class="form-control" />
                          

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Additional phone 2:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="number" class="form-control" />
                          

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Landline 1:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="number" class="form-control" />
                          

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-4 control-label text-right">Landline 2:</label>
                        <div class="col-md-6">
                            <input name="username" value="" type="number" class="form-control" />
                          

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="password" class="col-md-4 control-label text-right">Password:</label>
                        <div class="col-md-6">
                            <input name="password" type="password" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input name="login" type="submit" value="Login" class="btn btn-success" /> &nbsp;
                        <a href="/mymodule/register">or Register</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
	<script src="index.js"></script>
  </body>
</html> {% endcomment %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
